div{
  margin:0px;
  padding:0px;
}
.autoSize{
       width:auto;
       height:280px;
       max-height:280px;
}
.cand_gallery{
  width:auto;
  height: 300px;
  max-height: 300px;
}
.event-slider-autosize{
       width:auto;
       height:550px;
       max-height:550px;
}
h1{
	font-size: 50px;
	font-family: URW Bookman L;
	color: #F0E68C;
}
.jumbotron{
	color: maroon;
	width: 100%;
  height: 100px;
  text-align: center;
	background-color:white;
  border-radius: 1px;

}

.header{
  width:100%;
}
p{
	font-size: 20px;
	font-family: URW Bookman L;
	color: #F0E68C;
}

#main-navbar{
  background-color: #800000;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.7);
  border-top: 2px solid #FFC40D;
  border-radius: 0px;
  margin-bottom: 5px;
  background-color: maroon;
}

.container{
  max-width: 1170px;
}
.navbar-nav{
  float: left;
  margin: 0px;
  text-align: center;
}
.nav{
  padding-left: 0px;
  list-style: none outside none;
}

#nav-ul{
  list-style: none;
}

#nav-li{
  float:left;
  padding: 8px 10px;
  color:maroon;
}

#main-navbar .navbar-nav > li > a{
  border-bottom: 2px solid transparent;
  padding: 0px;
  color:#EFEFEF;
}

.navbar .navbar-nav li a{
  text-shadow:1px 1px 1px #333;
}

.navbar-nav > li > a{
  line-height: 20px;
}

.container a{
  text-decoration: none;
}

a{
  outline: 0px none !important;
  border-bottom: 2px solid transparent;
  padding:0px;

}

.text-muted{
	font-size: 15px;
	text-align: center;
}
*, *:after, *:before{
  box-sizing:border-box;
}

hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.can_gallery{
    top: 22px;
    width:100%;
    height:300px;
    max-height:300px;
    border: 5px solid maroon;
}
.can_name{
  height: 100%;
  text-align: center;
}

table, td, tr{
  font-size: 17px;
}
table{
  width: 100%;
  height: 100%;
}
.abc{
  text-align: left;
  width: 10px;
  font-size: 17px;
  font-family:  sans-serif;
}
p.info{
  color: maroon;
  font-size: 17px;
  font-family:  sans-serif;
  text-align: left;
}
p.official_name{
  color: white;
}
p.can_name_s{
  font-size: 8px;
}